.App{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg,#002552 1%, #7f3ef7)
}


.App-header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

